$max-width: 1440px;

$spacing-xxs: 8px;
$spacing-xs: 10px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 36px;
$spacing-xl: 64px;
$spacing-xxl: 96px;
$spacing-xxl-2: 120px;

$spacing: $spacing-m;

$nav-height: 90px;
