$box-shadow-button: 0 4px 16px rgba(0, 0, 0, 0.2);
$box-shadow-button--hover: 0 8px 48px rgba(0, 0, 0, 0.5);

$box-shadow-media-item: 0 2px 16px rgba(0, 0, 0, 0.25);
$box-shadow-media-item--hover: 0 8px 48px rgba(0, 0, 0, 0.5);

$box-shadow-icon: 0 2px 8px rgba(0, 0, 0, 0.2);
$box-shadow-icon--hover: 0 4px 32px rgba(0, 0, 0, 0.5);
