@import 'variables/index';
@import 'utils/index';

* {
  font-size: inherit;
  font-family: inherit;

  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }
}

body,
html {
  background-color: $white;
  font-size: 1rem;
  font-family: $font-family-primary;
  scroll-behavior: smooth;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

input,
textarea,
select,
button,
a {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
